<!-- Each of the images are a consistent and same width -->
.outfits img{
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
}

<!-- everything is displayed in block format -->
.outfits {
  display: block;
}

<!-- Each of the images are displayed in line -->
.outfits li{
  display: inline;
  list-style: none;
  margin: 5px;
}

<!-- Sets a min width for each of the images -->
.outfits ul{
  padding: 0px !important;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
  min-width: 788px;
}

<!-- Makes the add to cart button a blue color and the font white -->
button#addtocart{
  padding: 10px;
  margin: 2px;
  border: none;
  background-color: #008CBA;
  color: white;
}

<!-- Makes the edit button green with white font -->
button#edit{
  padding: 10px;
  border: none;
  background-color: #4faf55;
  color: white;
}

<!-- Makes the delete button red with white font -->
button#delete{
  padding: 10px;
  border: none;
  background-color: #ff5b5b;
  color: white;
}

<!-- Makes it so that the items do not have a margin -->
#items {
  margin: 0 auto;
}
