label {
  /* To ensure labels are not directly above form elements */
  display: block;
  margin: 10px;
}

#content {
  /* Added padding to center the form */
  padding-left: 35%; 
  padding-right: 35%;
}
